@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --DarkBlue-800: hsl(217, 28%, 15%);
  --DarkBlue-700: hsl(218, 28%, 13%);
  --DarkBlue-900: hsl(216, 53%, 9%);
  --DarkBlue-600: hsl(219, 30%, 18%);

  /*  Accent */

  --Cyan: #65e2d9;
  --Blue: rgb(51, 158, 204);
  --LightRed: hsl(0, 100%, 63%);

  /* Neutral */

  --White: 0, 0%, 100%;

  /* Font */
  --ff-sans: "Open Sans", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
}

/* general reset */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ******* */

body {
  min-height: 100vh;
  font-family: var(--ff-sans);
  background-color: var(--DarkBlue-700);
  color: hsl(var(--White));
  font-size: 1rem;
  overflow-x: hidden;
}

/* ********* */
/* Utilities */
/* ********* */

.container {
  max-width: 75rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.container-intro {
  max-width: 65rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.wrapper-intro {
  background-color: var(--DarkBlue-800);
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
}

.fade {
  animation: fade 400ms ease-in-out;
}
/* ********* */
/* components */
/* ********* */

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}

.logo > img {
  max-width: 50%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  color: hsl(var(--White), 0.5);
  font-weight: 700;
  display: inline-block;
  padding-block: 0.6rem;
  position: relative;
  transition: color 400ms ease-in-out;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.1rem;
  width: 0%;
  background-color: hsl(var(--White));
  transition: width 400ms ease-in-out;
}
.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover,
.nav-links a:focus {
  color: hsl(var(--White));
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}
.intro > h1 {
  max-width: 50ch;
  font-size: 2rem;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: keep-all;
  word-spacing: 2px;
}
.intro > p {
  max-width: 45ch;
  color: hsl(var(--White), 0.75);
}

.cta {
  display: inline-flex;
  padding: 0.9em 3.9em;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.1rem;

  background: rgb(51, 158, 204);
  background: linear-gradient(
    90deg,
    rgba(51, 158, 204, 1) 46%,
    rgba(101, 226, 217, 1) 92%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-animation: gradient 300ms ease infinite;
  -moz-animation: gradient 300ms ease infinite;
  animation: gradient 300ms ease infinite;
}

.features {
  margin-block-start: 2rem;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.features > section {
  max-width: 90%;
  margin-inline: auto;
  padding: 1.2rem 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  text-align: center;
  line-height: 1.6;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.1rem -0.1rem 0.3rem transparent;
  transition: box-shadow 450ms ease-in-out;
}

.features > section:hover {
  box-shadow: 0.1rem -0.1rem 0.3rem var(--Cyan);
}

.features > section p {
  color: hsl(var(--White), 0.75);
  max-width: 40ch;
}

.productive {
  margin-block: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.productive > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: flex-start;
  justify-content: center;
}

.productive > div:last-child h2 {
  font-size: 2.5rem;
  max-width: 40ch;
}

.productive > div:last-child p {
  color: hsl(var(--White), 0.75);
  max-width: 65ch;
}

.productive > div:last-child a {
  color: var(--Cyan);
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.1rem;
  width: 50%;
  gap: 1em;
  text-shadow: 1px 2px 5px var(--Cyan);
  transform: scale(0.99);
  transition: text-shadow 400ms ease-in-out;
}
.productive > div:last-child a:hover {
  text-shadow: 2px 5px 10px var(--Cyan), 1px 1px 20px var(--Cyan);
}
.productive > div:last-child a::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: var(--Cyan);
  bottom: 0;
}

.productive > div:last-child a::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 0.1rem 0.1rem var(--Cyan);
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}
.productive > div:last-child a:hover::after {
  transform: scaleX(1);
}

.tweets {
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 20% left;
  position: relative;
}

.tweets > article {
  background-color: var(--DarkBlue-600);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.4rem 1.5rem;
  gap: 1.2rem;
  border-radius: 0.8rem;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
}

.profile a {
  font-weight: 700;
  color: hsl(var(--White), 0.85);
  transition: color 250ms ease-in;
}

.profile a:hover {
  color: hsl(var(--White));
}
.profile p {
  color: hsl(var(--White), 0.5);
  margin-block-start: 0.4rem;
}

.footer {
  margin-block-start: 10rem;
  background-color: var(--DarkBlue-900);
  position: relative;
  padding-block: 7rem;
}

.footer .box {
  width: 90%;
  margin-inline: auto;
  background-color: var(--DarkBlue-700);
  padding: 1.8rem 3.6rem;
  position: absolute;
  top: -8rem;
  box-shadow: 0 0 0.1rem transparent;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: box-shadow 150ms ease-in;
}
.footer .box:hover {
  box-shadow: 0 0 0.1rem var(--Cyan);
}
.box section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.box section p {
  color: hsl(var(--White), 0.75);
}

.box form {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  flex-direction: column;
}

.box input[type="email"] {
  padding: 0.7rem 1.5rem;
  border: 1px solid hsl(var(--White));
  border-radius: 3rem;
}

.box button[type="submit"] {
  border: 0;
  padding: 0.7em 2.1em;
  border-radius: 3rem;
  font-weight: 700;
  font-size: 0.9rem;
  background: rgb(51, 158, 204);
  background: linear-gradient(
    90deg,
    rgba(51, 158, 204, 1) 46%,
    rgba(101, 226, 217, 1) 92%,
    rgba(0, 212, 255, 1) 100%
  );
  color: var(--White);
  cursor: pointer;
  transform: scale(0.99);
  transition: transform 200ms ease-in;
}

.box button[type="submit"]:hover {
  transform: scale(1.01);
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-block-start: 9rem;
  gap: 2rem;
  inset: 0;
}

.footer-content img {
  display: inline-block;
  padding-inline-end: 0.5em;
}
.footer-content p {
  max-width: 35ch;
  color: hsl(var(--White), 0.5);
}

.footer-content .brand,
.footer-content address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-content > ul:last-child {
  flex-direction: row;
  align-self: center;
  gap: 2rem;
}

.footer-content > ul:last-child a {
  display: inline-block;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1;
  border: 1px solid hsl(var(--White), 0.75);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--White));
  transition: background-color 300ms ease-in;
}

.footer-content > ul:last-child a:hover {
  background-color: var(--Blue);
}

@media (min-width: 50rem) {
  .wrapper-intro {
    background-image: url(../images/bg-curvy-desktop.svg);
  }
  .logo > img {
    max-width: 80%;
  }

  .nav-links {
    gap: 2.5rem;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .productive {
    flex-direction: row;
  }
  .tweets {
    flex-wrap: nowrap;
  }
  .footer .box {
    width: 55%;
    padding: 3.4rem 3.9rem;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .footer-content {
    flex-direction: row;
  }
  .box form {
    flex-direction: row;
  }
  .footer-content > ul:last-child {
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
  }
}

/* ********* */
/* animation */
/* ********* */

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
